.range-input {
   text-align: center;
}

input[type='range'] {
   align-items: center;
   overflow: hidden;
   width: 650px;
   -webkit-appearance: none;
   background-color: #435063;
}

input[type='range']::-webkit-slider-runnable-track {
   height: 12px;
   background: #435063;
}

input[type='range']::-webkit-slider-thumb {
   width: 10px;
   -webkit-appearance: none;
   height: 10px;
   background: #d1eaff;
}