.third-slide {
   height: 100%;
   background: url('../../img/third-slide_bg.jpg');
   background-size: cover;
   background-position: center;
   color: #0d319c;
}

.third-slide__wrapper {
   display: flex;
   height: 89%;
   width: 100%;
   overflow: hidden;
}